<a href="https://colab.research.google.com/github/Maione-Anika-Reyes/OOP-58001/blob/main/Concepts_in_OOP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
#Class Constructor

class Car:
  pass

In [15]:
#Create a class and object

class MyNumber:
  x = 5

num1 = MyNumber()
print(num1.x)

5

In [25]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

    person = Person("Ana",36)
    print(person.age)
    print(person.name)

In [33]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

person = Person("Ana",36)
print(person.age)
print(person.name)

36
Ana

In [35]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age 

  def myFunction(self):
    print("Hello my name is",self.name)
person = Person("Ana",36)
person.myFunction()

Hello my name is Ana

In [36]:
#Modify the Object Properties
person.name = "Marco"
print(person.name)
person.myFunction()

Marco
Hello my name is Marco

In [ ]:
#Deletion of Object Properties

del person.age
person.myFunction()
print(person.name)

In [12]:
# Compute for the area of Square 

class Shapes:
  def __init__(self,side):    #initial function to name the attributes
    self.side = side

  def area(self):             #method/formula to compute for the area of a square
    return self.side*self.side
  
  def display(self):          #method to display the area
    print("the area of the square is",self.area())

square = Shapes(4)
square.display()

the area of the square is 16

In [37]:
#Create a Python program with the following:
# Student as class name
# Fullname, Student Number, and School as attribute names
# Construct a method to display the values of attributes
# Use student as object name


class Student:
  def __init__(self, fullname, student_number, school):
    self.fullname = fullname
    self.student_number = student_number
    self.school = school

  def display(self):
    print(self.fullname, self.student_number, self.school)

person = Student("Maione Anika Reyes", 202214751, "Adamson University")
person.display()

Maione Anika Reyes 202214751 Adamson University