<a href="https://colab.research.google.com/github/Maione-Anika-Reyes/OOP-58001/blob/main/Copy_of_Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5>2:
  print("5>2")

5>2

Python Comment

In [ ]:
#This is a comment
print("Hello, world!")

Hello, world!

Python Variable

In [ ]:
#Single variable with multiple values
x=1
print(x)
array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Maione"
print (a)
print(b)
print (c)

1
[1, 2, 3]
Maione
Maione
Maione

Casting

In [ ]:
n = int(4)
print(n)

4

Type Function

In [ ]:
c = "Maione"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

"Double Quotes" or 'Single Quotes'

In [ ]:
y="John"
y='John'

print(y)

John

Case Sensitive

In [ ]:
a = 4
A = "Sally"

print (a)
print(A)

4
Sally

Multiple Variables

In [ ]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [ ]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [ ]:
x = "enjoying"
print("Python Programming is " + x)

Python Programming is enjoying

Arithmetic Operations 1

In [4]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x+y
sum

8

8

Arithmetic Operations 2

In [3]:
a, b, c = 0, -1, 6
c%=3
c

0

Comparison and Logical Operators

In [7]:
a,b,c = 0,-1,6
a>b and c>b

True

Identity Operators

In [8]:
a,b,c = 0, -1, 5
a is c

False