<a href="https://colab.research.google.com/github/Maione-Anika-Reyes/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [1]:
if 5>2:
  print("5>2")

5>2

Python Comment

In [2]:
#This is a comment
print("Hello, world!")

Hello, world!

Python Variable

In [5]:
#Single variable with multiple values
x=1
print(x)
array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Maione"
print (a)
print(b)
print (c)

1
[1, 2, 3]
Maione
Maione
Maione

Casting

In [6]:
n = int(4)
print(n)

4

Type Function

In [9]:
c = "Maione"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

"Double Quotes" or 'Single Quotes'

In [14]:
y="John"
y='John'

print(y)

John

Case Sensitive

In [13]:
a = 4
A = "Sally"

print (a)
print(A)

4
Sally

Multiple Variables

In [16]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [17]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [19]:
x = "enjoying"
print("Python Programming is " + x)

Python Programming is enjoying

Arithmetic Operations 1