<a href="https://colab.research.google.com/github/Maione-Anika-Reyes/OOP-58001/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Example 4: Looping through a String

In [2]:
for x in "week":
  print (x)

w
e
e
k

Nested Loops

In [3]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

Example 5: While Loop

In [4]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [9]:
#using break statement

i = 1
while i<6:
  print(i)
  if i == 3:
    break 
  i+=1

1
2
3

In [10]:
i = 1
while i<6:
  if i==3:
    print(i)   #prints only 3
    break
  i+=1

3

Application 1

In [26]:
i = 0

while i<11:
  print('Hello',(i))
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [28]:
i = 3

while i<10:
  print(i)
  i+=1

3
4
5
6
7
8
9